body{
	font-family: "Microsoft YaHei";
	position: relative;
}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%}
#rcpage1{
	background: url("../images/bg1.jpg") no-repeat top;
	background-size: cover;
}
#rcpage2{
	background: url("../images/bg2.jpg") no-repeat center;
	background-size: cover;
}
#rcpage3{
	background: url("../images/bg3.png") no-repeat center;
	background-size: cover;
}
#rcpage4{
	background: url("../images/bg4.png") no-repeat center;
	background-size: cover;
}
#rcpage5{
	background: url("../images/bg5.png") no-repeat center;
	background-size: cover;
}
#rcpage6{
	background: url("../images/bg6.png") no-repeat center;
	background-size: cover;
}
#label{
	background: #E70012;
}
.wrap img{
	width: 90%;
	margin: 0 5%;
	visibility: hidden;
}
.fp-completely .wrap img{
	visibility: visible;
	animation-duration: 0.8s;
}
.wrap .apply{
	margin-top: -15px;
}
#second3{
	margin-top: -20px;
}
.mask{
	/*display:none;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background: #FFF;
}
.mask .logo{
	width: 80vw;
	height: 80vw;
	margin-left: 10vw;
	margin-top: 20vh;
}
.mask .logo img{
	width: 100%;
	height:	100%;
}
.music{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 15px;
	right: 15px;
	background: url("../images/music1.png") no-repeat center;
	background-size: cover;
}
.first_tip{
	text-indent: 28px;
	font-size: 14px;
	color: #dcd7d7;
	width: 80vw;
	margin-left: 10vw;
	margin-top: 40vh;
}
.fade-sm{
	animation: fade1 1s linear;
	-webkit-animation: fade1 1s linear;
}
.rotate{
	animation: change 2.5s linear infinite;
	-webkit-animation:change 2.5s linear infinite;
}
.arrow{
	opacity: 0;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 40px;
	left: calc(50% - 15px);
	background: url("../images/arrow.png") no-repeat center;
	background-size: cover;
}
.arr_float{
	opacity:1;
	animation: float 2s linear infinite;
	-webkit-animation:float 2s linear infinite;
}
.font-fade{
	opacity: 1;
	animation: fade2 2s linear infinite;
	-webkit-animation:fade2 2s linear infinite;
}
.tipBox{
	width: 100%;
	margin-top: 10vh;
}
.tipBox .second_tip{
	text-indent: 32px;
	opacity: 0;
	font-size: 16px;
	color: #dcd7d7;
	width: 88vw;
	margin: 5px 0;
	margin-left: 6vw;
	line-height: 20px;
}
.tipBox .second_tip .point{
	font-weight: bold;
	color: #E70012;
}
.option{
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 8vw;
}
.option .pic{
	opacity: 0;
	display: inline-block;
	width: 40vw;
}
@keyframes change{
	0% {-webkit-transform:rotate(360deg);}
}
@keyframes float{
	0% {-webkit-transform:translate(0,-10px);}
	50% {-webkit-transform:translate(0,10px);}
	100% {-webkit-transform:translate(0,-10px);}
}

@keyframes fade1{
	0%	{opacity: 1;transform: scale3d(1,1,1);}
	100%{opacity: 0;transform: scale3d(0.8,0.8,0.8);}
}
@keyframes fade2{
	0%  {opacity: 1;}
	50% {opacity: 0.4;}
	100%{opacity: 1;}
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.animated.infinite {
	animation-iteration-count: infinite;
}

.animated.hinge {
	animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
	animation-duration: .75s;
}
@keyframes slideInUp {
	from {
		transform: translate3d(0, 100%, 0);
		visibility: visible;
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.slideInUp {
	animation-name: slideInUp;
}
@keyframes bounceInUp {
	from, 60%, 75%, 90%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	from {
		opacity: 0;
		transform: translate3d(0, 3000px, 0);
	}

	60% {
		opacity: 1;
		transform: translate3d(0, -20px, 0);
	}

	75% {
		transform: translate3d(0, 10px, 0);
	}

	90% {
		transform: translate3d(0, -5px, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.bounceInUp {
	animation-name: bounceInUp;
}
@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.slideInLeft {
	animation-name: slideInLeft;
}

@keyframes slideInRight {
	from {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.slideInRight {
	animation-name: slideInRight;
}
@keyframes slideInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		visibility: visible;
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.slideInUp {
	animation-name: slideInUp;
}
@keyframes rotateIn {
	from {
		transform-origin: center;
		transform: rotate3d(0, 0, 1, -200deg);
		opacity: 0;
	}

	to {
		transform-origin: center;
		transform: none;
		opacity: 1;
	}
}

.rotateIn {
	animation-name: rotateIn;
}